; twidemaru.mac.ini
[]

; UTF-8への変換、URLエンコードするときに、どの方法を使うか。
;  0xF:
;  0 = 変換しない(半角英数字以外を使うと文字化けします)。
;  1 = HidemaruExplorerを使う。
;  2 = 1と同様で文字コードの変更は秀丸を使う。
;  4 = JScriptを呼び出す(COMのScriptControlを利用)。
;  8 = ADODB Streamを利用する。
;;#EncWay =

; 経過を表示する場所。
;  0xF:
;  0 = しない。
;  1 = ステータスバーを表示していたらそこに。なければタイトルバーに。
;  2 = アウトプット枠。
;  4 = メッセージボックス。
;  8 = debuginfo。

user = 
pass = 
